<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculator" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BasicHttpBinding_ICalculator"
                address="http://localhost/Calculator.svc" contract="CalculatorProxy.ICalculator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                 />
    </client>
  </system.serviceModel>

  
  </configuration>