<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>

    <!-- Client -->
    <client>
      <endpoint address="https://localhost/MutualAuthCalculator.svc"
        binding="wsHttpBinding" bindingConfiguration="TransportWithCertificate" behaviorConfiguration="ProvideClientCertificate"
        contract="CalculatorProxy.ICalculator" name="wsHttpEndpoint" />
    </client>

    <!-- Bindings -->
    <bindings>
      <wsHttpBinding>
        <binding name="MessageWithCertificate">
          <security mode="Message">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="TransportWithCertificate">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- Behaviors -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="ProvideClientCertificate">
          <clientCredentials>
            <clientCertificate x509FindType="FindBySubjectDistinguishedName"
                               findValue="CN=Stk. Service Access" storeLocation="LocalMachine" storeName="My"  />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>