<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <!-- Services -->
    <services>
      <service name="SecureCalculatorService.SecureCalculator"
               behaviorConfiguration="ProvideServiceCertificate">
        
            <endpoint address="http://localhost/SecureCalculator/SecureCalculator.svc" binding="wsHttpBinding"
                  bindingConfiguration="wsHttpEndpointBinding" name="wsHttpEndpoint"
                  contract="SecureCalculatorService.ICalculator" />
        
            <endpoint address="http://localhost/SecureCalculator/MEX" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        
      </service>
    </services>

    <!-- Bindings -->
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndpointBinding">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- Behaviours -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ProvideServiceCertificate">
          <serviceCredentials>
            <serviceCertificate findValue="CN=Stk. Server Auth"
                                storeLocation="LocalMachine" storeName="My"
                                x509FindType="FindBySubjectDistinguishedName" />
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
