<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <!-- Services -->
    <services>
      <service name="CalculatorService.CalculatorService" behaviorConfiguration="SimpleHttpBehaviour" >
        
        <endpoint name="wsHttpEndpoint" contract="CalculatorService.ICalculator"
                  address="http://localhost/Calculator.svc" 
                  binding="wsHttpBinding" bindingConfiguration="SimpleHttpBinding"/>
        
        <endpoint address="http://localhost/MEX" binding="mexHttpBinding"
                        contract="IMetadataExchange" />
      
      </service>
    </services>

    <!-- Bindings -->
    <bindings>
      <wsHttpBinding>
        <binding name="SimpleHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- Behaviours -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleHttpBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />


    <diagnostics>
      <messageLogging
            logEntireMessage="true"
            logMalformedMessages="true"
            logMessagesAtServiceLevel="false"
            logMessagesAtTransportLevel="true"
            maxMessagesToLog="3000" />
    </diagnostics>


  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
            switchValue="Information, ActivityTracing"
              >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
  initializeData="C:\temp\Calculator.svclog"  />
    </sharedListeners>
  </system.diagnostics>

</configuration>
